@import '../../_assets/styles/_variables';

.sidebar {	
	position: fixed;
	z-index: 10;
	right: 0;
	top: 0;	
	// transition: -webkit-transform .2s ease-out;
  // transition: transform .2s ease-out;
  // transition: transform .2s ease-out,-webkit-transform .2s ease-out;	
	width: 100%;
	.sidebar__body-overlay {
		flex: 1;
		background-color: rgba(0, 0, 0, .5);
	}

	.sidebar__content-wrapper {
		position: fixed;
		right: 0;	
		background-color: $bg-body;
		overflow-x: hidden;	
		width: 100%;							

		.sidebar__header {						
			align-items: center;
			background-color: $white;
	  	box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
	  	min-height: 57px;
			
			.sidebar__button {
				font-size: 1.3em;	
			}

			.sidebar__title {
				flex: 1;
				justify-content: center;
				font-size: 1.1em;
				font-weight: 600;
				line-height: 1em;
			}

		}

		.sidebar__content {
			overflow-y: hidden;			
		}
	}	

	&--close{
		webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);    		
	}

	&--open {
		-webkit-transform: translateZ(0);
    transform: translateZ(0);
		box-shadow: 0 19px 38px rgba(0,0,0,.3), 0 15px 12px rgba(0,0,0,.22);	

		@media (min-width: 960px) {
			.sidebar__content-wrapper {
				width: 450px;
			}
		}
	}
}