/** 
 * COLORS
 */
$primary: #FE45AB;
$success: #5CB85C;
$info: #0070C9;
$danger: #D9534F;
$muted: #FAFAFA;
$white: #FFFFFF;
$black: #000000;
$dark-grey: #313131;
$grey: #a7a7a7;


$bg-body: $white;//#f0f0f0;